body {
	background-color: #34282C;
	height: 100%;
	width: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-family: 'Pontano Sans', Helvetica, sans-serif;
	font-size: 16px;
	color: white;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

h3 {
	font-weight: normal;
	color: white;
}

header {
	padding-left: 10px;
}

header img {
	height: 45px;
}

#border {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	opacity: 0.8;
	vertical-align: top;
}

#mainarea {
	display: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	padding: 5px 0 0 5px;
}

.navbar-right {
	padding-right: 40px;
	font-size: 1.25em;
}

.navbar .navbar-nav > li > a {
	opacity: .6;
  transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  }

.navbar .navbar-nav > li > a:hover {
	opacity: 1;
	background-color: inherit;
}

.navbar-right img {
	height: 25px;
}

#textarea {
	width: 55%;
	position: relative;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	line-height: 1.5em;
}

.loadingspinner {
	display: block;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
}

#mainimagespace {
	margin: 5px auto 0px auto;
	position: relative;
	height: 100%;
	text-align: center;
}

#mainimagespace img {
	display: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 85%;                 /* change this to max-width to restore */
	max-height: 100%;
	box-shadow: 10px 10px 15px rgba(0,0,0, .5);
}

#mainimagespace img.active {
	display: block;
}

footer {
	display: block;
	clear: both;
}

	.loadingspinner img {
		height: 100px;
	}

/************ about.html specific ***********/

.aboutbody {
	background: -webkit-radial-gradient(transparent, #34282C 60%), url('../img/sunnies.jpg'); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(transparent, #34282C 60%), url('../img/sunnies.jpg'); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(transparent, #34282C 60%), url('../img/sunnies.jpg'); /* For Firefox 3.6 to 15 */
  background: radial-gradient(transparent, #34282C 60%), url('../img/sunnies.jpg'); /* Standard syntax */
	background-size: cover;
	height: 600px;
}

#mainarea .about {
	margin-top: 100px;
}

/*********** contact.html specific **********/

#demotix {
	width: 100px;
	margin-top: 20px;
}

.contact-icon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	vertical-align: text-top;
	border-radius: 20%;
}

.contact-list {
	list-style: none;
	text-align: center;
	font-size: 18px;
}

.contact-list li {
	margin-top: 20px;
	margin-bottom: 20px;
}

.contactbody {
	background: -webkit-radial-gradient(transparent 20%, #34282C 60%), url('../img/zambia_contact.jpg'); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(transparent, #34282C 60%), url('../img/zambia_contact.jpg'); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(transparent, #34282C 60%), url('../img/zambia_contact.jpg'); /* For Firefox 3.6 to 15 */
  background: radial-gradient(transparent -50%, #34282C 60%), url('../img/zambia_contact.jpg'); /* Standard syntax */
	background-size: cover;
	height: 600px
}

/*********** photos.html specific ***********/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px -1px 14px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 14px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 14px 0px rgba(255,255,255,1);
}

.change-album .menu {
	position: absolute;
	left: 10px;
}

.jgallery.jgallery-standard {
	margin-left: auto;
	margin-right: auto;
}

.jgallery-container {
	background-color: #34282C;
}

.jgallery-container-inner {
	background-color: #34282C;
}

#selectgallery {
	height: 150px;
	margin-bottom: 40px;
	text-align: center;
	margin-top: 30px;
}

.gallery-div {
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#selectgallery .gallery img {
	width: 100%;
	opacity: .8;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#selectgallery .gallery img:hover {
	opacity: 1;
}

#downicon {
	height: 100px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	opacity: .7;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#downicon:hover {
	opacity: 1;
}

#photogallery {
	margin-top: 40px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#photogallery p, h3 {
	text-align: left;
}

#photogallery img {
	opacity: .8;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    margin: 10px;
}

#photogallery img:hover {
    opacity: 1;
}

h2 {
	text-align: center;
	font-weight: normal;
}

/*********** videos.html specific ***********/

#videogallery {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 auto 10px;
	text-align: center;
}

.video-section {
	width: 80%;
	height: auto;
	overflow: hidden;
	margin: 30px auto;
	clear: both;
}

.video-section h3 {
	margin-bottom: 20px;
}

.video-section p {
	font-size: 0.95em;
	text-align: left;
}

/*********** footer ***********/

footer {
   position: relative;
   clear: both;
   margin-top: 10px;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-size: 12px;
   font-family: arial, sans-serif;
   color: #6E6E6E;
   padding: 10px;
}

footer p {
	margin-top: 10px;
}

.social {
	display: block;
	text-align: center;
	padding-bottom: 20px;
	font-size: 1.25em;
	margin-top: 100px;

}

.social-icon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	vertical-align: text-top;
	border-radius: 20%;
	opacity: .4;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}

.social-icon:hover {
	opacity: 1;
}

.social-index {
	text-align: center;
}

#index_about {
	display: none;
}

/* media queries -----------------------------*/

@media screen and (max-width: 800px) {

	#textarea,
	#mainimagespace {
		float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		padding: 0;
		text-align: center;
	}

	#mainimagespace img {
		width: 100%;
	}
	
	.navbar-right {
		padding-right: 10px;
	}

	.navbar-right img {
		height: 20px;
	}

	#hide_about {
		display: none;
	}

	#border {
		display: none;
	}

	/*#index_about {
		width: 90%;
		margin: 50px auto 30px auto;
		display: block;
	}*/

	.photo_header: {
		margin-bottom: 100px;
	}

	#videogallery {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 auto 10px;
	text-align: center;
}

.video-section {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 30px auto;
	clear: both;
}

.video-section img {
	margin-top: 15px;
	width: 100%;
	box-shadow: 10px 10px 15px rgba(0,0,0, 0.5);
}

.video-section p {
	margin-top: 20px;
	font-size: 0.95em;
	width: 100%;
}

.left {
	float: none;
}

.right {
	float: none;
}

.text-left {
	text-align: center;
	float: none;
}

.text-right {
	text-align: center;
	float: none;
}


}

@media screen and (max-width: 480px) {
	
	body {
		width: 95%;
	}

	header,
	#topimage {
		max-width: 100%;
		height: 40px;
    	background-size: 250px;
    	padding: 0 0 5px;
    	margin-top: 0;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;
    	background-image: none;
	}

	.navbar-right {
		padding-right: 0;
	}

	.navbar-right img {
		height: 15px;
	}

	.navbar .navbar-nav > li {
		background-color: #34282C;
	}

	#textarea,
	#mainimagespace {
		height: auto;
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.loadingspinner {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}


	#menu ul {
		padding-left: 0;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		list-style: none;
	}
	
	#menu ul li {
		display: inline;
		position: relative;
		padding: 0 5px;
	}

	.hide_about {
		display: none;
	}

	#menu img {
		height: 20px;
	}

	#selectgallery {
		padding-bottom: 20px;
	}

	.about footer {
		clear: both;
	}

}


