body {
	background-color: #34282C;
	height: 100%;
	width: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-family: 'Pontano Sans', Helvetica, sans-serif;
	font-size: 16px;
	color: white;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

h3 {
	font-weight: normal;
	color: white;
}

header {
	padding-left: 10px;
}

header img {
	height: 50px;
}

#border {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	opacity: 0.8;
	vertical-align: top;
}

#mainarea {
	display: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	padding: 5px 0 0 5px;
}

.navbar-right {
	padding-right: 5px;
	font-size: 1.25em;
}

.navbar .navbar-nav > li > a {
		opacity: .6;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
  }

.navbar .navbar-nav > li > a:hover {
	opacity: 1;
	background-color: inherit;
}

.navbar-right img {
	height: 100%;
}

#textarea {
	width: 55%;
	position: relative;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	line-height: 1.5em;
}

.loadingspinner {
	display: block;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
}

#mainimagespace {
	margin: 5px auto 0px auto;
	position: relative;
	height: 100%;
	text-align: center;
}

#mainimagespace img {
	display: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 90%;                 /* change this to max-width to restore */
	max-height: 100%;
	box-shadow: 10px 10px 15px rgba(0,0,0, .5);
}

#mainimagespace img.active {
	display: block;
}

footer {
	display: block;
	clear: both;
}

	.loadingspinner img {
		height: 100px;
	}

/************ about.html specific ***********/

#mainarea .about {
	margin-top: 100px;
}

/*********** photos.html specific ***********/

#selectgallery {
	padding-bottom: 40px;
	text-align: center;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

.gallery-div {
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#selectgallery .gallery img {
	opacity: .8;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#selectgallery .gallery img:hover {
	opacity: 1;
}

#downicon {
	height: 100px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	opacity: .7;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#downicon:hover {
	opacity: 1;
}

#photogallery {
	margin-top: 40px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#photogallery p, h3 {
	text-align: left;
}

#photogallery img {
	opacity: .8;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    /*box-shadow: 10px 10px 15px rgba(0,0,0, .5);*/
    margin: 10px;
}

#photogallery img:hover {
    opacity: 1;
}

h2 {
	text-align: center;
	font-weight: normal;
}

/*********** videos.html specific ***********/

#videogallery {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 auto 10px;
	text-align: center;
}

.video-section {
	width: 80%;
	height: auto;
	overflow: hidden;
	margin: 30px auto;
	clear: both;
}

.video-section p {
	font-size: 0.95em;
	text-align: left;
}

/*********** footer ***********/

footer {
   position: relative;
   clear: both;
   margin-top: 10px;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-size: 12px;
   font-family: arial, sans-serif;
   color: #6E6E6E;
   padding: 10px;
}

footer p {
	margin-top: 10px;
}

.social {
	display: block;
	text-align: center;
	padding-bottom: 20px;
	font-size: 1.25em;
	margin-top: 100px;

}

.social-icon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	vertical-align: text-top;
	border-radius: 20%;
	opacity: .4;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}

.social-icon:hover {
	opacity: 1;
}

.social-index {
	text-align: center;
}

#index_about {
	display: none;
}

/* media queries -----------------------------*/

@media screen and (max-width: 768px) {

	#textarea,
	#mainimagespace {
		float: none;
		width: 90%;
		margin: 0;
		padding: 0;
		text-align: center;
	}


	#hide_about {
		display: none;
	}

	#border {
		display: none;
	}

	#index_about {
		display: block;
	}

	#videogallery {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 auto 10px;
	text-align: center;
}

.video-section {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 30px auto;
	clear: both;
}

.video-section img {
	margin-top: 15px;
	border: solid black 2px;
	width: 100%;
	box-shadow: 10px 10px 15px rgba(0,0,0, 0.5);
}

.video-section p {
	font-size: 0.95em;
	width: 100%;
}

.left {
	float: none;
}

.right {
	float: none;
}

.text-left {
	text-align: center;
	float: none;
}

.text-right {
	text-align: center;
	float: none;
}


}

@media screen and (max-width: 480px) {
	
	body {
		width: 95%;
	}

	header,
	#topimage {
		max-width: 100%;
		height: 50px;
    	background-size: 250px;
    	padding: 0 0 5px;
    	margin-top: 0;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;
    	background-image: none;
	}

	#textarea,
	#mainimagespace {
		height: auto;
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.loadingspinner {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}


	#menu ul {
		padding-left: 0;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		list-style: none;
	}
	
	#menu ul li {
		display: inline;
		position: relative;
		padding: 0 5px;
	}

	.hide_about {
		display: none;
	}

	#menu img {
		height: 20px;
	}

	#selectgallery {
		border-bottom: solid black 1px;
		padding-bottom: 20px;
	}

	#videogallery iframe {
		width: 100%;
	}

	.about footer {
		clear: both;
	}

}


